@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 5 Project</h1>
    <h1>video rental website with admin control</h1> 
   
</div>

<div class="jumbotron">
  <h1> Here a customer can search for movie.</h1> 
</div>